VITE_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScqla-k7CPjSKDP73qvPELWads4orb4toUgA3f6e27thYcErw/viewform
VITE_SPREADSHEET_ID=1uKvuSwkBpDyTbkVsRTG6aqMG8YEK7334K30A8U26jSw
VITE_SHEET_GID=0
